<p style="color: green"><%= notice %></p>

<%= render @tide_station %>

<div>
  <%= link_to "Edit this tide station", edit_tide_station_path(@tide_station) %> |
  <%= link_to "Back to tide stations", tide_stations_path %>

  <%= button_to "Destroy this tide station", @tide_station, method: :delete %>
</div>
